<?xml version="1.0"?>
<config>
    <modules>
        <Pcarousel_Pcarousel>
            <version>1.0.5</version>
        </Pcarousel_Pcarousel>
    </modules>
    <frontend>
        <routers>
            <pcarousel>
                <use>standard</use>
                <args>
                    <module>Pcarousel_Pcarousel</module>
                    <frontName>pcarousel</frontName>
                </args>
            </pcarousel>
        </routers>
        <layout>
            <updates>
                <pcarousel>
                    <file>pcarousel.xml</file>
                </pcarousel>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<pcarousel>
				<use>admin</use>
				<args>
					<module>Pcarousel_Pcarousel</module>
					<frontName>pcarousel</frontName>
				</args>
			</pcarousel>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<pcarousel module="pcarousel">
				<title>Product Carousel</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="pcarousel">
						<title>Manage Carousels</title>
						<sort_order>0</sort_order>
						<action>pcarousel/adminhtml_pcarousel</action>
					</items>
				</children>
			</pcarousel>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Pcarousel_Pcarousel>
							<title>Pcarousel Module</title>
							<sort_order>10</sort_order>
						</Pcarousel_Pcarousel>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<pcarousel>
					<file>pcarousel.xml</file>
				</pcarousel>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <pcarousel>
                <class>Pcarousel_Pcarousel_Model</class>
                <resourceModel>pcarousel_mysql4</resourceModel>
            </pcarousel>
            <pcarousel_mysql4>
                <class>Pcarousel_Pcarousel_Model_Mysql4</class>
                <entities>
                    <pcarousel>
                        <table>pcarousel</table>
                    </pcarousel>
                </entities>
            </pcarousel_mysql4>
        </models>
        <resources>
            <pcarousel_setup>
                <setup>
                    <module>Pcarousel_Pcarousel</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pcarousel_setup>
            <pcarousel_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pcarousel_write>
            <pcarousel_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pcarousel_read>
        </resources>
        <blocks>
            <pcarousel>
                <class>Pcarousel_Pcarousel_Block</class>
            </pcarousel>
        </blocks>
        <helpers>
            <pcarousel>
                <class>Pcarousel_Pcarousel_Helper</class>
            </pcarousel>
        </helpers>
    </global>
</config>