<?xml version="1.0"?>
<config>
    <modules>
        <Technical_Pacsoft>
            <version>0.1.0</version>
        </Technical_Pacsoft>
    </modules>
    <global>
        <helpers>
            <pdpacsoft>
                <class>Technical_Pacsoft_Helper</class>
            </pdpacsoft>
        </helpers>
        <blocks>
            <pdpacsoft>
                <class>Technical_Pacsoft_Block</class>
            </pdpacsoft>
        </blocks>
        <models>
            <pdpacsoft>
                <class>Technical_Pacsoft_Model</class>
            </pdpacsoft>
        </models>
        <resources>
            <pdpacsoft_setup>
                <setup>
                    <module>Technical_Pacsoft</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pdpacsoft_setup>
        </resources>
        <events>
            <sales_order_place_before>
                <observers>
                    <Technical_Pacsoft>
                        <class>Technical_Pacsoft_Model_Observer</class>
                        <method>changeShippingDescription</method>
                    </Technical_Pacsoft>
                </observers>
            </sales_order_place_before>
            <sales_order_place_after>
                <observers>
                    <Technical_Pacsoft>
                        <class>Technical_Pacsoft_Model_Observer</class>
                        <method>clearPacsoftPakkeshop</method>
                    </Technical_Pacsoft>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <pdpacsoft>
                    <file>pacsoft.xml</file>
                </pdpacsoft>
            </updates>
        </layout>
        <routers>
            <pdpacsoft>
                <use>standard</use>
                <args>
                    <module>Technical_Pacsoft</module>
                    <frontName>pdpacsoft</frontName>
                </args>
            </pdpacsoft>
        </routers>
        <translate>
            <modules>
                <pdpacsoft>
                    <files>
                        <default>Technical_Pacsoft.csv</default>
                    </files>
                </pdpacsoft>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <pdpacsoft>
                <use>admin</use>
                <args>
                    <module>Technical_Pacsoft</module>
                    <frontName>pdpacsoft</frontName>
                </args>
            </pdpacsoft>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <pdpacsoft_options>
                                            <title>Post Danmark Pacsoft</title>
                                        </pdpacsoft_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <pdpacsoft>
                    <file>pdpacsoft.xml</file>
                </pdpacsoft>
            </updates>
        </layout>
        <translate>
            <modules>
                <pdpacsoft>
                    <files>
                        <default>Technical_Pacsoft.csv</default>
                    </files>
                </pdpacsoft>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <Technical_Pacsoft>
                        <class>Technical_Pacsoft_Model_Observer</class>
                        <method>addPDPMassAction</method>
                    </Technical_Pacsoft>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
    <default>
        <pdpacsoft_options>
            <settings>
                <pdpacsoft_id>bbfcdb8f-ee66-404a-9697-f7eb056ba7a0</pdpacsoft_id>
                <pdpacsoft_quickid>1</pdpacsoft_quickid>
            </settings>
         </pdpacsoft_options>
    </default>
</config>